// breakpoints

$medium: 641px;
$large: 1025px;


// fonts

$montserrat: Montserrat;
$lato: Lato;

// colors


$blue: #1c72ad;
$green: #2e9770;
$orange: #E07544;
$grey: #3f3f3f;
$black: #01070D;
$ltgrey: #898989;


$bluegrad: linear-gradient(0deg, darken($blue,5%), lighten($blue, 15%), lighten($blue, 20%));
$greengrad: linear-gradient(0deg, darken($green,5%), lighten($green, 15%), lighten($green, 20%));


$bluegrad-hover: linear-gradient(180deg, darken($blue,5%), lighten($blue, 15%), lighten($blue, 20%));
$greengrad-hover: linear-gradient(180deg, darken($green,5%), lighten($green, 15%), lighten($green, 20%));

