@media only screen {

	#tabspage {
		width: 100%;
		height: 100%;
		font-size: 0;
	}
	.tabs,
	.panels {
		font-size: initial;
	}
	.tabs {		
		width: 100%;
		height: 240px;
		background: lightgrey;
	}
	.panels {
		border: 1px solid black;
		width: 100%;
		height: calc(100% - 240px);
	}
	
	
	.tabs-category {
		display: inline-block;
		vertical-align: top;
		padding: 0 20px;
	}


	.tabs-category-tab {
		border-left: 1px solid black;
		border-right: 1px solid black;
		padding: 2px;
		cursor: pointer;
		@include transition(background-color 0.4s ease, color 0.4s ease);
	}
	.tabs-category-tab--active,
	.tabs-category-tab--hovered {
		background-color: darkgrey;
	}

	.panels-panel {
		
		display: none;
		width: 100%;
		height: 100%;
		position: relative;
	}
	.panels-panel--active {
		display: block;

	}










}