@media only screen {
	#header {
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		height: 60px;
		width: 100%;
		background-color: $black;
		background-color: $blue;
	}
	#mobilenav {
		position: relative;
		z-index: 9;
		top: 50%;
		@include transform(translate(0, -50%));
		@include justifyblocks;
		padding: 0 40px;
	}
	a.mobilenav-logo,
	.mobilenav-navicon--wrapper {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		cursor: pointer;
		font-weight: 900;
		color: $blue;
		color: white;
		.fa-times {
			display: none;
			@include centerer;
		}
	}
	.mobilenav-logo {
		padding: 10px;
		font-size: 2.8rem;
	}
	.mobilenav-navicon--wrapper {
		border-radius: 50%;
		width: 44px;
		height: 44px;
		font-size: 2.4rem;
	}
	.mobilenav-panel {
		display: block;
		overflow: hidden;
		position: absolute;
		width: 100%;
		height: 0;
		top: 60px;
		left: 0;
		z-index: 8;
		@include transition(height 0.4s ease);
		text-align: center;
		background-color: transparentize($blue, 0.1);
	}
	.mobilenav-panel--revealed {
		height: 320px;
	}

	.mobilenav-panel-item--wrapper {
		@include centerer;
		display: inline-block;
		width: 100%
	}
	.mobilenav-panel-item {
		font-size: 3rem;
		width: 100%;
		display: inline-block;
		text-transform: uppercase;
		font-family: $montserrat;
		a {
			padding: 20px 0;
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			color: white;
		}
	}
}
@media only screen and (min-width: $medium) {}
@media only screen and (min-width: $large) {}