@media only screen {
	section.footer {
		background-color: transparentize(black, 0.33);
	}
	.footer-contactform-wrapper {
		display: inline-block;
		max-width: 960px;
		width: calc(100% - 40px);
		margin: 0px auto;
		padding: 20px 0;
		text-align: center;
	}	

	.footer-heading {
		margin: 40px auto;
		padding: 20px 0;
		text-align: center;
		width: auto;
		color: white;
		font-size: 4.2rem;
	}
	

	.subfooter {
		width: 100%;
		max-width: 1024px;
		margin: 0 auto;
		height: 60px;
		padding: 0 40px;
		@include justifyblocks;
		p {
			position: relative;
			top: 50%;
			@include transform(translateY(-50%));
			display: inline-block;
			font-size: 1.4rem;
			color: white;
		}
	}
}
@media only screen and (min-width: $medium) {
	.footer-contactform-wrapper {
		text-align: left;
	}
	.footer-heading {
		text-align: left;
	}
}
@media only screen and (min-width: $large) {}