@media only screen {
	.hero {
		height: 100%;
		background-color: $blue;
		background-image: $bluegrad;
		color: white;
		.centerer {
			padding: 0 20px;
			z-index: 2;
			overflow: visible;
		}
	}
	.hero-bg {
		position: absolute;
		z-index: 1;
		background-image: $greengrad;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		@include transition(opacity 3s ease-in-out);
	}
	.hero-bg--alternate {
		opacity: 1;
	}
	.hero-tagline,
	.hero-title {
		font-family: Raleway;
		font-size: 4.8rem;
		font-weight: 100;
		span {
			font-weight: 400;
		}
	}
	.hero-tagline {
		font-size: 2rem;
	}
	.hero-title {
		letter-spacing: -2px;
	}
	.hero-tagtyper {
		text-align: left;
		position: absolute;
		bottom: -100%;
		left: 25%;
		@include transform(translate(0, -50%));
	}
	.hero-tagtyper-angle {
		font-size: 4rem;
		vertical-align: middle;
		padding: 10px;
	}
	.hero-tagtyper-text {
		vertical-align: middle;
		font-weight: 300;
		font-family: Source Code Pro;
	}
	.typed-cursor {
		vertical-align: sub;
	}
}
@media only screen and (min-width: $medium) {
	.hero-title {
		font-size: 7.2rem;
	}
	.hero-tagline {
		font-size: 3.2rem;
	}
	.hero-tagtyper-text,
	.typed-cursor {
		font-size: 2.4rem;
	}
}
@media only screen and (min-width: $large) {
	.hero-title-wrapper,
	.hero-tagtyper {
		display: inline-block;
		vertical-align: middle;
	}
	
	.hero-title-wrapper {
		position: relative;
		right: 120px;
	}
	.hero-tagtyper {
		bottom: auto;
		top: 50%;
		left: calc(50% + 120px);
		@include transform(translate(0, -50%));
	}
	.hero-tagtyper-angle {
		font-size: 9.2rem;
	}
	.hero-title {
		font-size: 9.6rem;
	}
	.hero-tagline {
		font-size: 4rem;
	}
}