@media only screen {
	.portfolio {
		padding: 20px 0;
		position: relative;
		background-color: white;
		z-index: -2;
	}
	.portfolio-heading {
		font-size: 4.2rem;
		margin: 40px auto;
		padding: 20px 0px;
		max-width: 1024px;
		text-align: center;
	}
	.revealer-test {
		opacity: 0;
	}
	.portfolio-posts {
		position: relative;
		z-index: 1;
		display: inline-block;
		width: 100%;
		max-width: 1024px;
		text-align: center;
	}                            
	.portfolio-posts-post {
		display: inline-block;
		position: relative;
		overflow: hidden;
		font-size: initial;
		height: 320px;
		width: calc(100% - 40px);
		margin: 20px;
		cursor: pointer;
		&:after {
			@include transition(opacity 0.4s ease);
			@include darkenoverlay;
			opacity: 0.66;
		}
	}
	.portfolio-posts-post-bg {
		@include centerer;
		min-width: 100%;
		height: 150%;
		@include transition(all 0.3s ease);
	}
	.portfolio-posts-post-overlaywrapper {
		position: absolute;
		bottom: 20px;
		left: 20px;
		z-index: 1;
		text-align: left;
		@include transform(translate(0, 0));
		@include transition(all 0.4s ease);
	}
	a.portfolio-posts-post-title {
		display: inline-block;
		font-size: 2.4rem;
		font-weight: 900;
		text-transform: uppercase;
		padding: 5px 0;
		color: white;
	}
	.portfolio-posts-post-excerpt {
		@include transition(color 0.3s ease);
		margin: 5px auto;
		color: white;
	}
	.portfolio-posts-post:hover {
		.portfolio-posts-post-bg {
			height: 120%;
		}
		&:after {
			opacity: 0.1;
		}
		.portfolio-posts-post-overlaywrapper {
			bottom: 0px;
			@include transform(translate(0, 100%));
		}
	}
}
@media only screen and (min-width: $medium) {
	.portfolio-posts-post {
		width: calc(50% - 40px);
	}
	.portfolio-posts--odd {
		font-size: 0;
		.portfolio-posts-post:last-of-type {
			width: calc(100% - 40px);
		}
	}
}
@media only screen and (min-width: $large) {
	.portfolio-heading {
		text-align: left;
		width: 960px;
	}
	.portfolio-posts {
		text-align: center;
	}
	.portfolio-posts-post {
		width: 460px;
		margin: 20px;
	}
	.portfolio-posts--odd {
		.portfolio-posts-post:last-of-type {
			width: 960px;
		}
	}
}