/* 
@media only screen {}
@media only screen and (min-width: $medium) {}
@media only screen and (min-width: $large) {}
*/

/* 
	'FrameWork' Classes
*/

.section-bg,
.section-bg--mobile {
	@include centerer;
	width: 100%;
	height: 150%;
	object-fit: cover;
	opacity: 0.15;
	z-index: -1;
	display: none;
	@include transform(translate3d(0));
}
.section-bg--mobile {
	display: block;
}
.centerer {
	@include centerer;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.revealer {
	opacity: 0;
	@include transition(opacity 1s ease);
}
.revealer--revealed {
	opacity: 1 !important;
}
/* 
	Base Styling
*/
@media only screen {
	html {
	  box-sizing: border-box;
	}
	*, *:before, *:after {
	  box-sizing: inherit;
	}
	a, a:visited {
		text-decoration: none;
		color: $blue;
	}
	ul, ol {
		list-style-type: none;
	}
	// set 'heading' fonts
	h1, h2, h3, h4, h5, h6, header, th {
		font-family: $montserrat;
	}
	img {
		object-fit: cover;
	}
	html {
		background-color: #515151;
	}
	body {
		background-color: white;
		color: $black;
		font-family: $lato;
		text-align: center;
		margin: 0 auto;
		color: $grey;
		max-width: 1280px;
	}
	// Base Styles
	.section {
		position: relative;
		display: block;
		width: 100%;
		overflow: hidden;
		text-align: center;
		box-shadow: 0px 0px 40px rgba(0,0,0, 0.25);
	}
}
@media only screen and (min-width: $medium) {
	.section-bg {
		display: inline-block;
	}
	.section-bg--mobile {
		display: none;
	}
}
@media only screen and (min-width: $large) {

}
